.breadcrumbs {
  margin-top: 73px;
  text-align: center;
  background: #5FCF80;
  padding: 30px 0;
  color: #fff;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 63px;
  }
}
.breadcrumbs h2 {
  font-size: 32px;
  font-weight: 500;
}
.breadcrumbs p {
  font-size: 14px;
  margin-bottom: 0;
}
  .img-account-profile {
      height: 18rem;
  }
  .rounded-circle {
      border-radius: 50% !important;
  }
  .card {
      box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
  }
  .card .card-header {
      font-weight: 500;
  }
  .card-header:first-child {
      border-radius: 0.35rem 0.35rem 0 0;
  }
  .card-header {
      padding: 2rem 8rem;
      margin-bottom: 0;
      background-color: rgba(33, 40, 50, 0.03);
      border-bottom: 2px solid rgba(33, 40, 50, 0.125);
  }
  .form-control, .dataTable-input {
      display: block;
      width: 100%;
      padding: 0.875rem 1.125rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1;
      color: #69707A;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #C5CCD6;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.35rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .nav-borders .nav-link.active {
      color: #0061F2;
      border-bottom-color: #0061F2;
  }
  .nav-borders .nav-link {
      color: #69707A;
      border-bottom-width: 0.125rem;
      border-bottom-style: solid;
      border-bottom-color: transparent;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 0;
      padding-right: 0;
      margin-left: 1rem;
      margin-right: 1rem;
  }
  .container-xl{
    font-size: 18px;
  }
  #categories{
    height: 50%;
    width: 50%;
    margin-top:3rem;
    outline: none;
    padding:1px;
    font-size: 17px;
    font-weight: 400;
    color: #69707A;
    border: 1.5px solid #C7BEBE;
  }
 .form-control{
  font-size: 17px;
  color: #69707A;
}
.btn{
  margin-top: 2rem;
  font-size: 17px;
  font-weight: 300;
  background-color: #5FCF80;
  border: 1px solid #C7BEBE;
  border-bottom-color: transparent;
  color:white;
}
#inputUsername{
  width:49%
}
#inputEmailAddress{
  width:100%
}
#inputPhone{
  width:100%
}

img{
  /* width: 130px;
  height: 130px; */
  object-fit: cover;
  margin: 10px auto;
  border: 7px solid #F1F2F3;
  border-radius: 50%
}