<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
  <div class="container">
    <h2>Events</h2>
    <p> Welcome to somo tech conference with more 10000 developers in the tech conferences happening around the Platform. Check it out!</p>
  </div>
</div><!-- End Breadcrumbs -->
<br><br><br>

 <!-- ======= Events Section ======= -->
 <section id="events" class="events">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/events-1.jpg" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" style="font-size: 20px;"><a href="">Somo Solutions Alumni Hackathon</a></h5>
            <p class="fst-italic text-center"  style="font-size: 16px;">Sunday, September 26th at 7:00 pm</p>
            <p class="card-text" style="font-size: 18px;">A hackathon will provide us an opportunity to offer our alumni community a new thing to learn e.g problem-solving, speed in innovation, enhanced collaboration, and teamwork.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/javascript.jpg" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title" style="font-size: 20px; "><a href="">Javascript Coding session</a></h5>
            <p class="fst-italic text-center" style="font-size: 16px;">Sunday, November 15th at 7:00 pm</p>
            <p class="card-text" style="font-size: 18px;">Advance your knowledge with this introductory workshop on the programming language Javascript! No experience is needed. It will be an interesting and a learning experience</p>
          </div>
        </div>

      </div>
    </div>

  </div>
</section><!-- End Events Section -->
<br><br><br>
 

