<br><br><br>
<main id="main" data-aos="fade-in">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2>Courses</h2>
      <p>This courses are intended to provide students with skills and strategies to promote success in college, career, and life.</p>
    </div>
  </div><!-- End Breadcrumbs -->
  <br><br><br>
  <!-- ======= Popular Courses Section ======= -->
  <section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

      <div class="row" data-aos="zoom-in" data-aos-delay="100">

        <div *ngIf="all_courses">
          <div *ngFor="let course of all_courses" class=" col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="assets/img/course-1.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>{{course.name}}</h4>
                </div>
                <p>{{course.description}}</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="assets/img/mentor2.jpg" class="img-fluid" alt="">
                    <span>{{course.trainer}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->
<!-- 
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="course-item">
            <img src="assets/img/python.jpg" class="img-py" alt="..." >
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Python Clash Course</h4>
              </div>

              <h3><a href="course-details.html">Python Development</a></h3>
              <p>Python developers are responsible for writing server-side web application logic. 
                They typically develop back-end components, connect the application with third-party web services, 
                and support the front-end developers by integrating their work with the Python application. </p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <div class="trainer-profile d-flex align-items-center">
                  <img src="assets/img/mentor3.jpg" class="img-fluid" alt="">
                  <span style="margin-top:2rem;">Sarah</span>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->

        <!-- <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="course-item">
            <img src="assets/img/android.png" class="img-android" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 >Android</h4>
              </div>

              <h3><a href="course-details.html">Android Development</a></h3>
              <p >Android software development is the process by which applications are created for devices running the Android operating system.
                 Google states that "Android apps can be written using Kotlin, Java, and C++ languages" using the Android software development kit (SDK). 
                  </p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <div class="trainer-profile d-flex align-items-center" >
                  <img src="assets/img/mentor1.png" class="img-fluid" alt="">
                  <span>Sharon</span>
                </div>
              </div>
            </div>
          </div>
        </div> End Course Item --> -->

      </div>

    </div>
  </section><!-- End Popular Courses Section -->
  <br><br><br>