 <br><br><br>
<main id="main" data-aos="fade-in">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2>Courses</h2>
      <p>This courses are intended to provide students with skills and strategies to promote success in college, career, and life.</p>
    </div>
  </div><!-- End Breadcrumbs -->
  <br><br><br>
  <!-- ======= Popular Courses Section ======= -->
  <section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

      <div class="row" data-aos="zoom-in" data-aos-delay="100">

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="course-item">
            <img src="assets/img/course-1.jpg" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Web Development</h4>
              </div>

              <h3><a href="course-details.html">Website Design</a></h3>
              <p>An exam course for Web developers who wants to test their frontend skills and understand how it works.The best web development exam is starting out. Become a UI/UX master from zero to hero!</p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <div class="trainer-profile d-flex align-items-center">
                  <img src="assets/img/mentor2.jpg" class="img-fluid" alt="">
                  <span>Walter</span>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="course-item">
            <img src="assets/img/python.jpg" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Python Clash Course</h4>
              </div>

              <h3><a href="course-details.html">Data Structures and algorithms</a></h3>
              <p>An exam course for Python developers who wants to test their data structures skills and understand how it works.Become a Python master from zero to hero! </p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <div class="trainer-profile d-flex align-items-center">
                  <img src="assets/img/mentor3.jpg" class="img-fluid" alt="">
                  <span>Sarah</span>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="course-item">
            <img src="assets/img/android.png" class="img-fluid" alt="...">
            <div class="course-content">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 style="margin-top: 4rem;">Android</h4>
              </div>

              <h3 style="margin-top: 1rem;"><a href="course-details.html">Android Bootcamp</a></h3>
              <p style="margin-top: 1rem;">An exam course for Android developers who wants to test their frontend and backend skills and understand how it works.Become an Android master from zero to hero!</p>
              <div class="trainer d-flex justify-content-between align-items-center">
                <div class="trainer-profile d-flex align-items-center" >
                  <img src="assets/img/mentor1.png" class="img-fluid" alt="">
                  <span>Sharon</span>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- End Course Item-->

      </div>

    </div>
  </section><!-- End Popular Courses Section -->
  <br><br><br>
