<br><br><br>
<main id="main" data-aos="fade-in">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2>Mentors</h2>
      <p>Our tech mentors can help you gain clarity of the courses your taking and this will help students
         have an easy time while they are gaining technical skills and knowledge.</p>
    </div>
  </div><!-- End Breadcrumbs -->
  <br><br><br>
   <!-- ======= Trainers Section ======= -->
   <section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">

      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/mentor2.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Walter Mbugua</h4>
              <span>Web Development</span>
              <p>
                Walter is a great help managing a very out of date website. Everything we ask him to do is done quickly and efficiently, we would be lost without him.
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/mentor3.jpg" class="img-fluid" alt="">
            <div class="member-content">
              <h4>Sarah Wanjiru</h4>
              <span>Data Scientist</span>
              <p>
                Sarah is awesome, delivers exactly what you want and she is a great mentor as well, thanks for her hard work. You won't be disappointed!
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <img src="assets/img/mentor1.png" class="img-fluid" width="400px">
            <div class="member-content">
              <h4>Sharon Njoki</h4>
              <span>Android</span>
              <p>
                Fantastic mentorship and a great lady. We recommend anyone who needs to become an android engineer or anyone who wants to improve their skills.She delivers exactly what you want from Zero to Hero!
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Trainers Section -->
  <br><br><br>
