          <!-- Vendor CSS Files -->
 <link rel="stylesheet" href="./navbar.component.css">
 <link rel="stylesheet" href="./animate.min.css">
 <link rel="stylesheet" href="./aos.css">
 <link rel="stylesheet" href="./swiper-bundle.min.css">
 <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
 <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
 
    
    
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="index.html" class="logo me-auto"><img src="assets/img/somo.svg" alt="" class="img-fluid"></a>
    
 
  
    <nav id="navbar" class="navbar order-last order-lg-0" style="margin-left: 18rem; margin-top:1rem;">
      <ul>
        <a class="active" routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" style="text-decoration: none;">Home</a>
        <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
        <a class="nav-link" routerLink="courses" routerLinkActive="active-link">Courses</a>
        <li><a href="trainers.html">Trainers</a></li>
        <li><a href="events.html">Events</a></li>
        <li><a href="pricing.html">Pricing</a></li>

        <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a href="courses.html" class="admin">Admin</a>

  </div>
</header><!-- End Header -->
