          <!-- Vendor CSS Files -->
 <link rel="stylesheet" href="./navbar.component.css">
 <link rel="stylesheet" href="./animate.min.css">
 <link rel="stylesheet" href="./aos.css">
 <link rel="stylesheet" href="./swiper-bundle.min.css">
 <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
 <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
 
    
    
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="#" class="logo me-auto"><img src="assets/img/somo.svg" alt="" class="img-fluid"></a>
    
    <nav id="navbar" class="navbar order-last order-lg-0" style="margin-left: 18rem; margin-top:1rem;">
      <ul>
        <a class="active" routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" style="text-decoration: none;">Home</a>
        <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
        <a class="nav-link" routerLink="courses" routerLinkActive="active-link">Courses</a>
        <a class="nav-link" routerLink="trainers" routerLinkActive="active-link">Trainers</a>
        <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contacts</a>
        <a class="nav-link" routerLink="signin" routerLinkActive="active-link" >Signin</a>
        <a class="nav-link" routerLink="signup" routerLinkActive="active-link" >Login</a>
 
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    <a class="nav-link" routerLink="admin" routerLinkActive="active-link" class="admin" style="text-decoration: none;">Admin</a>
  </div>
</header><!-- End Header -->
