<br><br><br>
<main id="main" data-aos="fade-in"> 
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
  <div class="container text-center">
    <h2>Trainers Registration</h2>
    <p> Stay updated on your Somo Solutions account and explore</p>
  </div>
</div><!-- End Breadcrumbs --> 
<br><br><br>
 <section id="signup">
  <div class="wrapper">
    <h2>Register</h2>
    <form #Form="ngForm" (ngSubmit)="registerTrainer(Form)">
      <div class="input-box">
        <input type="text" name="username" placeholder="Enter your username" ngModel required>
      </div>
      <div class="input-box">
        <input type="email" name="email" placeholder="Enter your email" ngModel required>
      </div>
      <div class="input-box">
        <input type="password" name="password1" placeholder="Create password" ngModel required>
      </div>
      <div class="input-box">
        <input type="password" name="password2" placeholder="Confirm password" ngModel required>
      </div>
      <div class="policy">
        <input type="checkbox" required>
        <h3 style="margin-top: 1rem;">I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Register Now" style="background-color: #5fcf80; color:white;">
      </div>
      <div class="text">
        <h3>Already have an account? <a class="nav-link" routerLink="../trainer-login"
            routerLinkActive="active-link">Login now</a></h3>
      </div>
    </form>
  </div>
 </section>
</main>
<br><br><br>
 


