 <body>
    <br><br><br><br><br><br><br><br> 
    <form action="">
	<div class="form">
		<button class="back"><a href="../student-dashboard" style="text-decoration: none; color:white">Go back</a></button>  
		<br><br> 
		<div class="title-div">
			<h1>Total Courses</h1>
			<p>
				These are all the courses available at the moment
			</p>
		</div>
		<div class="quiz-div">
		  <ol>
		    <div *ngFor="let course of all_courses">
		      <li>
		        <div style="font-size:18px; margin-left:2rem; margin-top:2rem;">
		          <a href="" style="text-decoration: none;">{{ course.name }}</a>

		          <small class="float-end me-2"> by @{{ course.trainer }}</small>
		        </div>
		      </li>
		    </div>
		  </ol>
		</div>
		<div>
		</div>
	</div>
</form>
</body>
 
 