 <body>
    <br><br><br><br><br><br><br><br> 
    <form action="">
	<div class="form">
		<div class="title-div">
			<h1>HTML and CSS Quiz</h1>
			<p>Make sure to fill  in the questions</p>
			<p class="required">*Required</p>
		</div>
		<div class="name-div">
			<div class="name"><a href="../student-quiz1" style="text-decoration: none;">Question 1 ?</a><span class="required">*</span></div>  
		</div>
		<div class="css-div">
			<div class="name"><a href="../student-quiz2" style="text-decoration: none;">Question 2 ?</a><span class="required">*</span></div>  
		</div>
		<div class="anchor-div">
			<div class="name"><a href="../student-quiz3/" style="text-decoration: none;">Question 3 ?</a><span class="required">*</span></div>   
		</div>
		<div class="semantic-div">
			<div class="name"><a href="../student-quiz4" style="text-decoration: none;">Question 4 ?</a><span class="required">*</span></div>   
		</div>
		<div>
		</div>
	</div>
</form>
    </body>
 
 