 
<body>
  <br><br><br><br><br><br><br><br><br> 
<form action="">
  <div class="form">
    <button class="btn" style="text-decoration:none;"><a href="../trainer-dashboard">Go Back</a></button>
    <div class="title-div">
      <h1 style="margin-left: 19rem;">COURSES</h1>
      <p style="margin-left: 15rem; font-size:17px;">Courses Which Are Available </p>
    </div>
    <div class="quiz-div">
      <label for="courses" style="font-size: 15px; margin-left:3rem;">Choose Course:</label>
      <select id="courses" name="marks" style="margin-left: 2rem;">
        <option value="Web Development">Web Development</option>
        <option value="Python Development">Python Development</option>
        <option value="Android Development">Android Development</option>
      </select>
    </div>
    <br><br><br><br><br><br><br><br> 