<!-- ======= Hero Section ======= -->
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="./home.component.css">
  <link rel="stylesheet" href="./animate.min.css">
   <link rel="stylesheet" href="./swiper-bundle.min.css">
   <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

     
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      <h2>I am studying hard, spending time with friends,<br>
         enjoying the good life. School is what you make it ⏰✌️😎</h2>
      <a href="../registration" class="btn-get-started">Get Started</a>
    </div>
  </section>
  <!-- End Hero -->
  
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/coding.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Accelerated Learning Tech Education📚</h3>
            <p  style="font-size: 15px;">
               Somo online classroom has a team of talented mentors with the skills and knowledge to deliver growth and results for learners, and an environment that supports student creativity.
            </p>
            <ul>
              <li style="font-size: 15px;"><i class="bi bi-check-circle" ></i>Build and style interactive websites.</li>
              <li style="font-size: 15px;"><i class="bi bi-check-circle" ></i> Have a good chance of completing and improve your Technical Skills.</li>
              <li style="font-size: 15px;"><i class="bi bi-check-circle" ></i> Learn with a diverse community of African students.</li>
            </ul>
            <p style="font-size: 15px;">
              Become a Certified Software Engineer and enjoy our mentorship support from our Career Services Department.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
            <p style="color: #5fcf80; font-size:25px;font-family:san-serif">{{ total_students }}</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p  style="margin-left: 23rem;">Courses</p>
            <p style="color: #5fcf80; font-size:25px;margin-left:25rem;font-family:san-serif">{{ total_courses }}</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p style="margin-left: 38rem;">Trainers</p>
            <p style="color: #5fcf80; font-size:25px;margin-left:40rem;font-family:san-serif">{{ total_trainers }}</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->
<!-- ======= Popular Courses Section ======= -->
<section id="popular-courses" class="courses">
  <div class="container" data-aos="fade-up">

    <div class="row" data-aos="zoom-in" data-aos-delay="100">

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="course-item">
          <img src="assets/img/course-1.jpg" class="img-fluid" alt="...">
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4>Web Development</h4>
            </div>

            <h3><a href="course-details.html">Website Development</a></h3>
            <p>Web development is the building and maintenance of websites; 
              it's the work that happens behind the scenes to make a website look great, 
              work fast and perform well with a seamless user experience. 
              Web developers, or 'devs', do this by using a variety of coding languages</p>
            <div class="trainer d-flex justify-content-between align-items-center">
              <div class="trainer-profile d-flex align-items-center">
                <img src="assets/img/mentor2.jpg" class="img-fluid" alt="">
                <span>Walter</span>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End Course Item-->

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="course-item">
          <img src="assets/img/python.jpg" class="img-py" alt="..." >
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4>Python Clash Course</h4>
            </div>

            <h3><a href="course-details.html">Python Development</a></h3>
            <p>Python developers are responsible for writing server-side web application logic. 
              They typically develop back-end components, connect the application with third-party web services, 
              and support the front-end developers by integrating their work with the Python application. </p>
            <div class="trainer d-flex justify-content-between align-items-center">
              <div class="trainer-profile d-flex align-items-center">
                <img src="assets/img/mentor3.jpg" class="img-fluid" alt="">
                <span style="margin-top:2rem;">Sarah</span>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End Course Item-->

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="course-item">
          <img src="assets/img/android.png" class="img-android" alt="...">
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 >Android</h4>
            </div>

            <h3><a href="course-details.html">Android Development</a></h3>
            <p >Android software development is the process by which applications are created for devices running the Android operating system.
               Google states that "Android apps can be written using Kotlin, Java, and C++ languages" using the Android software development kit (SDK). 
                </p>
            <div class="trainer d-flex justify-content-between align-items-center">
              <div class="trainer-profile d-flex align-items-center" >
                <img src="assets/img/mentor1.png" class="img-fluid" alt="">
                <span>Sharon</span>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- End Course Item-->

    </div>

  </div>
</section><!-- End Popular Courses Section -->
    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/mentor2.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Walter Mbugua</h4>
                <span>Web Development</span>
                <p>
                  Walter is a great help managing a very out of date website. Everything we ask him to do is done quickly and efficiently, we would be lost without him.
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/mentor3.jpg" class="sarah" alt="">
              <div class="member-content">
                <h4>Sarah Wanjiru</h4>
                <span>Data Scientist</span>
                <p>
                  Sarah is awesome, delivers exactly what you want and she is a great mentor as well, thanks for her hard work. You won't be disappointed!
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="assets/img/mentor1.png" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Sharon Njoki</h4>
                <span>Android</span>
                <p>
                  Fantastic mentorship and a great lady. We recommend anyone who needs to become an android engineer or anyone who wants to improve their skills.She delivers exactly what you want from Zero to Hero!
                </p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->
   
 

   
