<body>
  <br><br><br><br><br><br><br><br> 
  <form action="">
<div class="form">
  <button class="back"><a href="../trainer-questioners" style="text-decoration: none; color:white">Go back</a></button>  
  <br><br> 
  <div class="title-div">
    <h1 style="margin-left: 15rem;">ADD QUESTIONS ?</h1>
    <p style="margin-left: 10rem; font-size:17px;">Make sure to finish setting up the questions</p>
  </div>
  <div class="quiz-div">
    <label for="courses" style="font-size: 15px; margin-left:3rem;">Choose Course:</label>
    <select id="courses" name="marks" style="margin-left: 2rem;">
      <option value="Web Development">Web Development</option>
      <option value="Python Development">Python Development</option>
      <option value="Android Development">Android Development</option>
    </select>
  </div>
  <div class="quiz-div">
    <p style="font-size:18px; margin-left:18rem;" >Question 3</p>
    <textarea type="input" name="Question" rows="4" cols="50" maxlength="200" placeholder="Example:What is an android?" style="margin-top: 4rem; font-size:15px; resize:none;margin-left:2rem" required></textarea>
  </div>
  <div class="marks-div">
    <label for="marks" style="font-size: 15px; margin-left:3rem;">Marks</label>
    <select id="marks" name="marks" style="margin-left: 2rem;">
      <option value="5 points">10 points</option>
      <option value="8 points">8 points</option>
      <option value="5 points">5 points</option>
      <option value="2 points">2 points</option>
      <option value="0 points">0 points</option>
    </select>
  </div>
    <input class="btn" type="Submit" name="Submit">
  </div>
</form>
  </body>
