<body>
  <br><br><br><br><br><br><br><br><br> 
  <form action="">
<div class="form">
  <button class="back"><a href="../student-quiz" style="text-decoration: none; color:white">Go back</a></button>  
  <br><br> 
  <div class="title-div">
    <h1>HTML and CSS Quiz</h1>
    <p>Make sure to fill  in the questions</p>
    <p class="required">*Required</p>
  </div>
  <div class="css-div">
    <div class="name">2. Write a CSS  link which looks like the one in the image below, and the cursor looks like a question mark when hovering over the link:
              <img src="assets/img/quiz.png" class="img-fluid" alt="">
          </div>
    <div class="input-div"><textarea type="input" name="answer" rows="4" cols="50" maxlength="200" placeholder="Your answer" style="margin-top: -3rem; font-size:15px; resize:none" required></textarea></div>
  </div>
  <div>
    <input class="btn" type="Submit" name="Submit">
  </div>
</div>
</form>
</body>
   
   



