<br><br><br>
<!-- ======= About Section ======= -->
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
      <h2>About Us</h2>
      <p>Somo Solutions is a web application where teachers can provide
        assignments of different Subjects to their students. Students can then view their
        assignments, work on them and later submit them on their respective teachers</p>
    </div>
  </div><!-- End Breadcrumbs -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="assets/img/coding.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Accelerated Learning Tech Education📚</h3>
          <p  style="font-size: 15px;">
             Somo online classroom has a team of talented mentors with the skills and knowledge to deliver growth and results for learners, and an environment that supports student creativity.
          </p>
          <ul>
            <li style="font-size: 15px;"><i class="bi bi-check-circle" ></i>Build and style interactive websites.</li>
            <li style="font-size: 15px;"><i class="bi bi-check-circle" ></i> Have a good chance of completing and improve your Technical Skills.</li>
            <li style="font-size: 15px;"><i class="bi bi-check-circle" ></i> Learn with a diverse community of African students.</li>
          </ul>
          <p style="font-size: 15px;">
            Become a Certified Software Engineer and enjoy our mentorship support from our Career Services Department.
          </p>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->
  <!-- ======= Counts Section ======= -->
  <section id="counts" class="counts section-bg">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
          <p>Students</p>
          <p style="color: #5fcf80; font-size:25px;font-family:san-serif">1255</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
          <p  style="margin-left: 23rem;">Courses</p>
          <p style="color: #5fcf80; font-size:25px;margin-left:25rem;font-family:san-serif">50</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
          <p style="margin-left: 38rem;">Trainers</p>
          <p style="color: #5fcf80; font-size:25px;margin-left:40rem;font-family:san-serif">20</p>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->
   <br><br>
  
 <!-- End #main -->
