<br><br><br>
<main id="main" data-aos="fade-in">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2>Admin</h2>
      <p style="margin-top: -2rem;"><img src="assets/img/somo.svg" alt="" width="100px"> Stay updated on your Somo Solutions account and explore</p>
    </div>
  </div><!-- End Breadcrumbs -->
  <br><br><br>
<!--Admin form-->
<section id="admin" class="admi">
  <div class="wrapper">
    <h2>Admin</h2>
    <form action="#">
      <div class="input-box">
        <input type="text" placeholder="Enter your name" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Confirm password" required>
      </div>
      <div class="policy">
        <input type="checkbox">
        <h3 style="margin-top: 1rem;">I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Login Now" style="background-color: #5fcf80; color:white;">
      </div>
    </form>
  </div>
</section><!-- End of admin Section -->
<br><br><br>
